body {
    background-image: url(./img/table.jpg);
    background-attachment: fixed;
}

.conteiner {
    border: 0 0 0 0 ;
    width: 380px;
    height: 654px;
    background-color:rgb(187, 13, 13) ;
    position: relative;
    border-radius: 50px;
    
    left: 35%;
}

.boarder {
    width: 376px;
    height: 650px;
    background-image: url(/img/fone.png);
    position: relative;
    border-radius: 50px;
    left: 35%;
    border-width:10px;
    border-color: rgb(165, 2, 2);
    border-style: solid;
    
    
    
    
}
.inner {
    display: flex;
}

.header h5 {
    margin: 7px 0 0 18px;
    font-family: -webkit-pictograph;
}

.boarder__top {
    width: 180px;
    height: 30px;
    background-color: black;
    border-radius: 0 0 19px 19px;
    margin-left: 22px;
}
.signal img {
    width: 23px;
    height: 22px;
    margin: 12px 0 0 5px;
}
.wifi img {
    width: 20px;
    height: 18px;
    margin: 14px 0 0 7px;
}
.acc img{
    width: 23px;
    height: 22px;
    margin: 12px 0 0 9px;

}
.block img {
    width: 40px;
    height: 40px;
  margin: 8px 0 0 170px;
    
}
.time {
    font-size: 30px;
    font-family: -webkit-pictograph;
    margin: -40px 0 0 118px
}

.data {
    font-family: -webkit-pictograph;
    margin: -44px 0 0 120px;
}

.boarder__2 {
    border: solid 0px;
    background-color: rgba(0, 0, 0, 0.137);
    width: 363px;
    height: 200px;
    border-radius: 20px;
    margin-left: 7px;
}
.inner__2 {
    display: flex;
}

.blink {
    display: flex;
}

.blink img {
    width: 75px;
    height: 75px;
    border-radius: 7%;
    margin: 11px 0 0 11px;
}

.text__1 {
    margin: 15px 0 0 10px;
}

h4 {
    font-size: 10px;
    padding: 0 0 0 0;
    color: rgb(39, 39, 39);
    font-family:-webkit-pictograph ;

}

 h2 {

    font-size: 17px;
    margin: -33px 0 0 0;
    font-family:-webkit-pictograph ;
    font-weight: bold;
    
}

h3 {

    font-size: 14px;
    margin: -17px 0 0 0;
    font-family:-webkit-pictograph ;
    
}
h6 {
    font-size: 16px;
    font-family:-webkit-pictograph ;
    margin: 0 0 22px 0;
}
.menu img {
    width:340px ;
    height: 83px;
    margin: 17px 0 0 10px;
}
.button {
    display: flex;
}


.lamp {
    border: solid 0px;
   background-color:  rgb(147 129 129);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 150px 0 0 20px;

}
.lamp:hover {
    background-color: rgba(97, 91, 83, 0.363);
}

.lamp img {
    width: 45px;
    height: 42px;
    margin: 7px 0 0 7px;
    

}

.boarder__3 {
    width: 112px;
    height: 5px;
    background-color: black;
    border-radius: 20px;
    margin: 22px 0 0px 127px;
}


    
    

    
.camera {
    border: solid 0px;
   background-color:  rgb(147 129 129);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 150px 0 0 198px;



}
.camera:hover {
    background-color: rgba(97, 91, 83, 0.363);

}


.camera img {
    width: 45px;
    height: 42px;
    margin: 7px 0 0 7px;


}